.title{
    text-align: center;
    letter-spacing: 40px;
    
}
.red-text{
       color: #ad1414;
       text-align: center;

}
.label{
   
    background-color: #ad1414;
    margin-right: 80%;
    margin-bottom: -1px;
    text-align: center;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.line{
    border-top:1px solid black;
    margin: 2px;
}
.flex-img{
    display: flex;
    flex-direction: row;
}

.section1{
    display: flex;
    flex-direction: row;
}

